.formats {
  min-height: 1368px;
  @include bg;
  background-image: url('/src/img/bgs/formats-bg.jpg');
  padding-top: 55px;
  background-color: #eeeeee;

  @media (max-width: 1200px) {
    padding-top: 18px;
  }

  @media (max-width: 991px) {
    background-position-y: -100px;
    min-height: 1266px;
    background-size: auto;
  }

  @media (max-width: 767px) {
    background-image: none;
    min-height: auto;
    padding-bottom: 8px;
  }
}

.formats__title {
  @include max-width(1100px);
  color: $blue;
  font-size: 51.5px;
  margin-bottom: 115px;
  font-weight: 600;

  span {
    color: $red;
  }

  @media (max-width: 991px) {
    font-size: 33px;
    margin-bottom: 54px;
  }

  @media (max-width: 767px) {
    font-size: 30px;
    margin-bottom: 30px;
  }

  @media (max-width: 575px) {
    font-size: 25px;
    margin-bottom: 15px;
  }
}

.formats__content {
  @include max-width(1093px);
  margin-left: auto;
  margin-right: auto;
}

.formats__direct {
  border-bottom: 3px solid #eaeaea;
  padding-top: 22px;
  padding-bottom: 22px;

  &:last-child {
    border-bottom: none;
  }
}

.formats__direct-number {
  margin-left: 103px;
  width: 220px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 52px 13px rgba(25, 26, 28, 0.06);
  background-color: white;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 23px;

  @media (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.formats__direct-note {
  background: rgb(1, 38, 119);
  background: linear-gradient(
    54deg,
    rgba(1, 38, 119, 1) 39%,
    rgba(226, 38, 61, 1) 57%
  );
  min-height: 59px;
  padding-left: 120px;
  color: white;
  font-size: 22px;
  position: relative;
  overflow: hidden;
  padding-right: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    padding-left: 60px;
  }

  @media (max-width: 575px) {
    font-size: 18px;
    padding-left: 30px;
  }

  &::before {
    content: url('/src/img/icons/formats-arrow.png');
    top: 50%;
    transform: translateY(-58%);
    left: 0px;
    position: absolute;

    @media (max-width: 767px) {
      left: -60px;
    }

    @media (max-width: 575px) {
      left: -90px;
    }
  }
}

.formats__list {
  @include reset-list;
  margin-left: 103px;

  @media (max-width: 767px) {
    margin-left: 0;
  }
}

.formats__item {
  padding-left: 17px;
  font-size: 20px;
  position: relative;
  margin-bottom: 7px;

  @media (max-width: 575px) {
    font-size: 18px;
  }

  &::before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e2263d;
    left: 0px;
    top: 8px;
    position: absolute;
  }

  b {
    font-weight: 500;
  }
}
