.key {
  min-height: 1847px;
  background-color: #ededed;
  background-image: url('/src/img/bgs/reasons-cloud-bg.png'),
    url('/src/img/bgs/key-bg.png');
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  background-position: center top, center center;
  padding-top: 55px;
  padding-bottom: 10px;

  @media (max-width: 991px) {
    padding-top: 30px;
  }

  @media (max-width: 767px) {
    background-image: none;
  }
}

.key__title {
  font-size: 51.5px;
  font-weight: 600;
  color: $blue;
  margin-bottom: 41px;

  @media (max-width: 991px) {
    font-size: 40px;
    margin-bottom: 40px;
  }

  @media (max-width: 767px) {
    font-size: 30px;
  }

  @media (max-width: 575px) {
    font-size: 25px;
    margin-bottom: 20px;

    br {
      display: none;
    }
  }

  span {
    color: $red;
  }
}

.key__note {
  background: rgb(1, 38, 119);
  background: linear-gradient(
    54deg,
    rgba(1, 38, 119, 1) 39%,
    rgba(226, 38, 61, 1) 57%
  );
  border-radius: 10px;
  box-shadow: 0 0 52px 13px rgba(25, 26, 28, 0.06);
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 22px;
  color: white;
  margin-bottom: 45px;

  @media (max-width: 767px) {
    font-size: 20px;
  }
}

.key__list {
  @include reset-list;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 32px;
  position: relative;

  @media (max-width: 1200px) {
    justify-content: center;
  }

  &::after {
    content: url('/src/img/car.png');
    position: absolute;
    bottom: -126px;
    right: -336px;
    z-index: -1;

    @media (max-width: 1200px) {
      content: none;
    }
  }
}

.key__item {
  margin-bottom: 13px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  padding-top: 78px;
  padding-left: 21px;
  padding-bottom: 16px;
  padding-right: 21px;
  @include max-width(359px);
  min-height: 438px;
  font-size: 18px;
  line-height: 30px;

  @media (max-width: 575px) {
    font-size: 16px;
    line-height: 26px;
    min-height: auto;
  }

  b {
    font-size: 19px;
    font-weight: 500;

    @media (max-width: 575px) {
      font-size: 17px;
    }
  }

  &::before {
    position: absolute;
    left: 23px;
    top: 22px;
  }

  &::after {
    position: absolute;
    right: 25px;
    bottom: -9px;
  }

  &:nth-child(1) {
    &::before {
      content: url('/src/img/icons/key/1.png');
    }

    &::after {
      content: url('/src/img/icons/key/numbers/1.png');
    }
  }
  &:nth-child(2) {
    &::before {
      content: url('/src/img/icons/key/2.png');
    }

    &::after {
      content: url('/src/img/icons/key/numbers/2.png');
    }
  }
  &:nth-child(3) {
    &::before {
      content: url('/src/img/icons/key/3.png');
    }

    &::after {
      content: url('/src/img/icons/key/numbers/3.png');
    }
  }
  &:nth-child(4) {
    &::before {
      content: url('/src/img/icons/key/4.png');
    }

    &::after {
      content: url('/src/img/icons/key/numbers/4.png');
    }
  }
  &:nth-child(5) {
    &::before {
      content: url('/src/img/icons/key/5.png');
    }

    &::after {
      content: url('/src/img/icons/key/numbers/5.png');
    }
  }
  &:nth-child(6) {
    &::before {
      content: url('/src/img/icons/key/6.png');
    }

    &::after {
      content: url('/src/img/icons/key/numbers/6.png');
    }
  }
  &:nth-child(7) {
    &::before {
      content: url('/src/img/icons/key/7.png');
    }

    &::after {
      content: url('/src/img/icons/key/numbers/7.png');
    }
  }
}
