.secrets {
  min-height: 969px;
  padding-top: 67px;
  padding-bottom: 25px;
  @include bg;
  background-image: url('/src/img/bgs/secrets-bg.jpg');
  position: relative;
  z-index: 0;

  @media (max-width: 991px) {
    padding-top: 30px;
  }
}

.secrets__title {
  font-size: 51.5px;
  font-weight: 600;
  color: $blue;
  margin-bottom: 45px;
  position: relative;

  &::before {
    content: url('/src/img/bgs/materials-bg.png');
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -830px;
    z-index: -1;

    @media (max-width: 1200px) {
      content: none;
    }
  }

  @media (max-width: 991px) {
    font-size: 40px;
    margin-bottom: 30px;
  }

  @media (max-width: 767px) {
    font-size: 30px;
  }

  @media (max-width: 575px) {
    font-size: 25px;
    margin-bottom: 20px;
  }

  span {
    color: $red;
  }
}

.secrets__note {
  background: rgb(1, 38, 119);
  background: linear-gradient(
    54deg,
    rgba(1, 38, 119, 1) 39%,
    rgba(226, 38, 61, 1) 57%
  );
  border-radius: 10px;
  box-shadow: 0 0 52px 13px rgba(25, 26, 28, 0.06);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 22px;
  padding-right: 64px;
  font-size: 22px;
  line-height: 40px;
  color: white;
  margin-bottom: 70px;
  font-weight: 500;

  @media (max-width: 991px) {
    padding-right: 20px;
    margin-bottom: 30px;
  }

  @media (max-width: 767px) {
    font-size: 20px;
    line-height: 34px;
  }

  @media (max-width: 575px) {
    font-size: 18px;
    line-height: 30px;
  }
}

.secrets__text {
  font-size: 22px;
  color: $blue;
  margin-bottom: 90px;
  text-align: center;
  font-weight: 500;

  @media (max-width: 991px) {
    margin-bottom: 50px;
  }
}

.secrets__list {
  @include reset-list;
  display: flex;
  justify-content: center;
  gap: 142px;
  flex-wrap: wrap;
  margin-bottom: 105px;

  @media (max-width: 991px) {
    gap: 70px;
  }

  @media (max-width: 767px) {
    margin-bottom: 75px;
  }

  @media (max-width: 575px) {
    margin-bottom: 50px;
    gap: 40px;
  }
}

.secrets__item {
  @include max-width(419px);
  position: relative;
  font-size: 19px;
  line-height: 30px;
  padding-left: 30px;

  &::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(
      54deg,
      rgba(1, 38, 119, 1) 22%,
      rgba(226, 38, 61, 1) 78%
    );
    left: 0px;
    top: 5px;
  }

  &::after {
    position: absolute;
    top: -20px;
    left: -71px;
    z-index: -1;

    @media (max-width: 575px) {
      left: -20px;
    }
  }

  &:first-child::after {
    content: url('/src/img/01.png');
  }
  &:last-child::after {
    content: url('/src/img/02.png');
  }
}